################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/minimal-app/FileContentIndex/5d496383-29c7-467b-84ff-055be2100a0d.vsidx
